
<button (click)="goBack()">go back</button>

<div *ngIf="selectedEmployeee">
  <h2>{{ selectedEmployeee.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedEmployeee.id}}</div>
  <div><span>name: </span>{{selectedEmployeee.name}}</div>
  <div><span>code: </span>{{selectedEmployeee.code}}</div>
  
  Edit Details
  <div>
    <label>Name:  <input [(ngModel)]="selectedEmployeee.name" placeholder="name"></label>
      <label>Code: <input [(ngModel)]="selectedEmployeee.code" placeholder="name">
    </label>
  </div>
  <button (click)="updateEmployee()">Update</button>
  <button (click)="deleteEmployee()">Delete Employee</button>
  </div>