
<button (click)="goBack()">go back</button>

<div *ngIf="selectedEmployeee" class="data">
  <h2>{{ selectedEmployeee.name | uppercase}} Details</h2>
  <div><span class="badge">id: </span><input [(ngModel)]="selectedEmployeee.id" placeholder="name" data-ng-disabled="true"/></div>
  <div><span class="badge">name: </span><input [(ngModel)]="selectedEmployeee.name" placeholder="name"  data-ng-disabled="true"/></div>
  <div><span class="badge">code: </span><input [(ngModel)]="selectedEmployeee.code" placeholder="name"  data-ng-disabled="true"/></div>
  
  Edit Details
  <div>
    <label>Name:  <input [(ngModel)]="selectedEmployeee.name" placeholder="name"></label>
      <label>Code: <input [(ngModel)]="selectedEmployeee.code" placeholder="name">
    </label>
  </div>
  <button (click)="updateEmployee()">Update</button>
  <button (click)="deleteEmployee()">Delete Employee</button>
  </div>